appdirs==1.4.3
attrs==19.3.0
bcrypt==3.1.7
bitcoin==1.1.42
blinker==1.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Flask==1.1.1
Flask-Mail==0.9.1
Flask-QRcode==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
passlib==1.7.2
pathspec==0.6.0
Pillow==7.0.0
pycparser==2.19
qrcode==6.1
regex==2019.12.9
requests==2.22.0
six==1.13.0
SQLAlchemy==1.3.11
toml==0.10.0
typed-ast==1.4.0
urllib3==1.26.5
Werkzeug==0.16.0
WTForms==2.2.1
